@import '/src/style/form/general_information.css';
@import '/src/style/form/educational_experience.css';
@import '/src/style/form/practical_experience.css';

#form-wrap {
  padding: 2em 0;
  border: 3px solid rgb(116, 117, 104);
}

#form-title > h1 {
 text-align: center;
 text-decoration: underline;
}

.input-cont {
  height: auto;
  display: grid;
  row-gap: 3vh;
  grid-template-rows: repeat(3, auto);
}

input,
select,
textarea {
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline: unset;
}

input:invalid:focus,
select:invalid:focus,
textarea:invalid:focus {
  border-color: red;
}

textarea {
  resize: vertical;
}

.input-cont div {
  height: fit-content;
}

.input-fields {
  padding: 1em 2em;
  display: grid;
  row-gap: 1vh;
}

.input-fields label {
  display: grid;
}

.section-title {
  margin-bottom: unset;
  text-align: center;
  font-weight: bold;
}

#submit-cont {
  padding: 2vh;
}

#submit-cont * {
  height: 4vh;
  width: 8rem;
  float: right;
}

.head-names {
  display: block;
}

.sub-names {
  display: none;
}

@media screen and (max-width: 650px) {
  #form-title {
    font-size: 4vw;
  }

  ::placeholder {
    font-size: .80em;
  }

  .head-names {
    display: none;
  }

  .sub-names {
    display: block;
  }
}
