#company {
  display: grid;
}

#company div {
  display: inline-flex;
  column-gap: 1vw;
}

#company div input {
  width: 14vw;
}

@media screen and (max-width: 650px) {
 #company div,
 .company-item * {
    width: 100%;
    display: grid;
  }

  #company {
    row-gap: 1vh;
  }

  #company div input {
    width: 80%;
  }

  .company-item input::placeholder {
    color: transparent;
  }
}
